<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Customer Index</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: logout"></div>
        <p>Customer Index Page!</p>
        <p>Display table of all data for managers</p>
        <p>display relevant data for customers + employees</p>
    </main>

    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
        <tr th:each="customer : ${customers}">
            <td>
                <a th:href="@{'/customers/view/' + ${customer.id}}" th:text="${customer.id}"></a>
            </td>
            <td>
                <p th:text="${customer.firstName}"></p>
            </td>
            <td>
                <p th:text="${customer.lastName}"></p>
            </td>
            <td>
                <p th:text="${customer.username}"></p>
            </td>
        </tr>
    </table>
</body>
</html>