<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
    <form method="post">
        <div>
            <label> Email : <input type="text" name="username" th:value="${customer.username}"/></label>
        </div>
        <div>
            <label> Password : <input type="password" name="password"/></label>
        </div>
        <div>
            <label> First Name : <input type="text" name="firstName" th:value="${customer.firstName}"/></label>
        </div>
        <div>
            <label> Last Name : <input type="text" name="lastName" th:value="${customer.lastName}"/></label>
        </div>
        <div>
            <input type="submit" value="add"/>
        </div>
    </form>
</body>
</html>