<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Customer</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
    <p th:text="${customer.firstName}"></p>
    <p th:text="${customer.lastName}"></p>
    <p th:text="${customer.username}"></p>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/customers/view/' + ${customer.id} + '/update'}">Update?</a>
</body>
</html>