<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Contract</title>
</head>
<body>
    <main>
        only accessible to managers
        form to add data
    </main>

    <form method="post">
        <div>
            <label> Contract Name : <input type="text" name="name"/></label>
        </div>
        <div>
            <label> Address : <input type="text" name="address"/></label>
        </div>
        <div>
            <label> Job Description : <input type="text" name="jobDescription"/></label>
        </div>
        <div>
            <input type="submit" value="add"/>
        </div>
    </form>
</body>
</html>