<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Contract Index</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: logout"></div>
        <p>Contract Index Page!</p>
        <p>Display table of all data for managers</p>
        <p>display relevant data for customers + employees</p>
    </main>

    <table>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Job Description</td>
            <td>Customer</td>
            <td>Contact</td>
            <td>Employee</td>
        </tr>
        <tr th:each="contract : ${contracts}">
            <td>
                <p th:text="${contract.name}"></p>
            </td>
            <td>
                <p th:text="${contract.address}"></p>
            </td>
            <td>
                <p th:text="${contract.jobDescription}"></p>
            </td>
            <td>
                <p th:text="${contract.customer.firstName}"></p>
            </td>
            <td>
                <p th:text="${contract.customer.username}"></p>
            </td>
            <td>
                <p th:text="${contract.employee.firstName}"></p>
            </td>
        </tr>
    </table>
</body>
</html>