<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Contract Index</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: logout"></div>
        <p>Contract Index Page!</p>
        <p>Display table of all data for managers</p>
        <p>display relevant data for customers + employees</p>
    </main>

    <table>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Job Description</td>
            <td>Customer</td>
            <td>Contact</td>
            <td>Employee</td>
        </tr>
        <tr th:each="contract : ${contracts}"
            th:if="${contract.customer.equals(user)} or
            ${contract.employee.equals(user)} or
            ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <td>
                <a th:href="@{'/contracts/view/' + ${contract.id}}" th:text="${contract.id}"></a>
            </td>
            <td>
                <p th:text="${contract.name}"></p>
            </td>
            <td>
                <p th:text="${contract.address}"></p>
            </td>
            <td>
                <p th:text="${contract.jobDescription}"></p>
            </td>
            <td>
                <p th:if="${contract.customer != null}" th:text="${contract.customer.firstName}">
                    No Customer Assigned!
                </p>
            </td>
            <td>
                <p th:if="${contract.customer != null}" th:text="${contract.customer.username}">
                    No Customer Assigned!
                </p>
            </td>
            <td>
                <p th:if="${contract.employee != null}" th:text="${contract.employee.firstName}">
                    No Employee Assigned!
                </p>
            </td>
        </tr>
    </table>
</body>
</html>