<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Contract</title>
</head>
<body>
<main>
    <div th:replace="fragments :: navbar"></div>
    <form method="post">
        <div>
            <label> Contract Name : <input type="text" name="name" th:value="${contract.name}"/></label>
        </div>
        <div>
            <label> Address : <input type="text" name="address" th:value="${contract.address}"/></label>
        </div>
        <div>
            <label> Job Description : <input type="text" name="jobDescription" th:value="${contract.jobDescription}"/></label>
        </div>
        <div>
            <label> Customer :
                <select name="customer">
                    <option th:each="customer: ${customers}" th:selected=${contract.customer} th:value="${customer.id}" th:text="${customer.username}"></option>
                </select>
            </label>
        </div>
        <div>
            <label> Employee :
                <select name="employee">
                    <option th:each="employee: ${employees}" th:selected=${contract.employee} th:value="${employee.id}" th:text="${employee.username}"></option>
                </select>
            </label>
        </div>
        <div>
            <input type="submit" value="update"/>
        </div>
    </form>
</main>
</body>
</html>