<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>View Contract</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
            <p th:text="${contract.name}"></p>
            <p th:text="${contract.address}"></p>
            <p th:text="${contract.jobDescription}"></p>
            <p th:text="${contract.customer.firstName}"></p>
            <p th:text="${contract.customer.username}"></p>
            <p th:text="${contract.employee.firstName}"></p>
    </main>
</body>
</html>