<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<div class="navbar" th:fragment="navbar">
    <a th:href="@{/}">Index</a>
    <a sec:authorize="isAnonymous()" th:href="@{/register}">Register</a>
    <ul>
        <a th:href="@{/contracts/}">Contracts</a>
        <a th:href="@{/contracts/add}">Add</a>
        <a th:href="@{/contracts/delete}">Delete</a>
    </ul>
    <ul>
        <a th:href="@{/customers/}">Customers</a>
        <a th:href="@{/customers/add}">Add</a>
        <a th:href="@{/customers/delete}">Delete</a>
    </ul>
    <ul>
        <a th:href="@{/employees/}">Employees</a>
        <a th:href="@{/employees/add}">Add</a>
        <a th:href="@{/employees/delete}">Delete</a>
    </ul>
</div>
<div class="logout" th:fragment="logout">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
    </div>
</div>
</html>