<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Delete Contract</title>
</head>
<body>
<main>
    <div th:replace="fragments :: navbar"></div>
    only accessible to managers
    form to add data
</main>

<form method="post">
    <div>
        <div>
            <label> Contract :
                <select name="employee">
                    <option th:each="employee: ${employees}" th:value="${employee.id}" th:text="${employee.username}"></option>
                </select>
            </label>
        </div>
    </div>
    <div>
        <input type="submit" value="delete"/>
    </div>
</form>
</body>
</html>