<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Employee Index</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: logout"></div>
        <p>Employee Index Page!</p>
        <p>Display table of all data for managers</p>
        <p>display relevant data for customers + employees</p>
    </main>
    <div>
    </div>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
        <tr th:each="employee : ${employees}"
            th:if="${employee.equals(user)} or
            ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <td>
                <a th:href="@{'/employees/view/' + ${employee.id}}" th:text="${employee.id}"></a>
            </td>
            <td>
                <p th:text="${employee.firstName}"></p>
            </td>
            <td>
                <p th:text="${employee.lastName}"></p>
            </td>
            <td>
                <p th:text="${employee.username}"></p>
            </td>
<!--            <td th:each="contract : ${employee.contracts}">-->
<!--                <p th:text="${contract.id}"></p>-->
<!--            </td>-->
        </tr>
    </table>
</body>
</html>