<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employee Index</title>
</head>
<body>
    <main>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: logout"></div>
        <p>Employee Index Page!</p>
        <p>Display table of all data for managers</p>
        <p>display relevant data for customers + employees</p>
    </main>

    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
        <tr th:each="employee : ${employees}">
            <td>
                <a th:href="@{'/employees/view/' + ${employee.id}}" th:text="${employee.id}"></a>
            </td>
            <td>
                <p th:text="${employee.firstName}"></p>
            </td>
            <td>
                <p th:text="${employee.lastName}"></p>
            </td>
            <td>
                <p th:text="${employee.username}"></p>
            </td>
        </tr>
    </table>
</body>
</html>